body {
    margin: 0;
background-color:  #f9ffe6;
    
}
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
}
header {
    background-color:white;
    color: #6c6969;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

#logo {
    width: 188px; /* Adjust the width as needed */
    height: 90px; /* To maintain aspect ratio */
    margin-right: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
    font-family: arial;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 10px;
}

li a:hover{
   color: orange;
  
}

li a{
    text-decoration: none;
    color: #6c6969;
}



.footer {
    width: auto;
    height: auto;
    background-color:#56603c;
    color:white;
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
    }
  
    
    .footer-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 60px;
    }
    
    .footer-nav a {
      text-decoration: none;
      color: white;
      margin-left: 60px;
    }
   
    .footer-nav ul{
      margin-top: 19px;
      line-height: 2;
      margin-right: 10px;
      font-family: classico-urw;
      font-size: 15px;
      font-weight: bold;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 60px;
    }
    .footer-nav p{
      margin-top: 40px;
      margin-bottom: 6px;
      margin-left: 100px;
      font-weight: bold;
      font-size: 18px;
      font-family: monospace;
    }
    .footer-about p{
        width: 560px;
        font-size: 15px;
        font-family: classico-urw;
        font-weight: bold;
        line-height: 1.5;
        margin-top: 20px;
        margin-left: 290px;
        text-align: center;
  
    }
    .footer-about h2{
      margin-top: 30px;
      margin-left: 530px;
      font-family:monospace;
    }
   
    
    
    
    .footer-copyright p {
  text-align: center;
  margin-top: 30px;
  margin-left: 530px;
  
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
    }
  
   .footer-about,
    .footer-subscribe,
    .footer-copyright {
      flex: 1;
      margin: 10px;
      margin-bottom: 0;
    }
  
    .footer-location{
      display: flex;
      flex-wrap: wrap;
  
    }
   
    .lastpart{
      display: inline-block;
    }