body {
    margin: 0;
background-color:  white;
    
}

header {
  background-color: white;
  color: #6c6969;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#logo {
  width: 188px;
  height: 90px;
  margin-right: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
  font-family: arial;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-left: 10px;
}

li a:hover {
  color: orange;
}

li a {
  text-decoration: none;
  color: #6c6969;
}

@media (max-width: 1024px) {
  header {
      padding: 0 10px; 
  }

  #logo {
      width: 150px; /* logo size for smaller screens */
      height: 70px;
      margin-right: 10px; 
  }

  nav li {
      font-size: 10px; 
      margin-right: 10px;
  }
}

@media (max-width: 768px) {
  header {
      height: auto; 
  }

  #logo {
      width: 120px; /*logo for smaller screen*/
      height: 60px;
      margin-right: 10px; 
  }

  nav {
      text-align: center; 
  }

  nav li {
      display: block; /* lista block for smaller screen*/
      margin: 10px 0; 
  }
}
* {box-sizing:border-box}

/* Slideshow  */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
/*dots*/
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*after slider section*/
.after-slider {
  text-align: center;
  margin-top: 50px;
}

.paragrafi1 {
  font-size: 24px;
  font-family: monospace;
  margin: 0;
  word-spacing: 0;
  color: #354607;
  font-weight: 600;
}

.dyparagrafet p {
  display: inline-block;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  font-family: classico-urw;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.6em;
  text-transform: none;
  color: #393434;
  margin-right: 12px;
  font-weight: 600;
}

.hands-home img {
  align-items: center;
  height: 233px;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto; 
}

/* Media query for screens with a width of 768px */
@media screen and (min-width: 768px) {
  .paragrafi1 {
    font-size: 14px;
  }

  .dyparagrafet p {
    font-size: 14px; 
  }
}

/* Media query for screens with a width of 1024px */
@media screen and (min-width: 1024px) {
  .paragrafi1 {
    font-size: 24px; 
  }

  .dyparagrafet p {
    font-size: 15px; 
  }
}


/*pjesa SERVICES*/
  .container-servicesimg {
    position: relative;
    width: 100%;
    margin-top: 32px;
  }
  /*fotoja*/
  .image-top-services {
    width: 100%;
  }
  /*teksti mbi foto*/
  .text-overlay-services {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: monospace;
    font-weight: bold;
  }
  /*butoni mbi*/
  #services-button {
    padding: 11px;
    font-family: monospace;
    font-weight: 600;
    background-color: #7a8756;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 14px;
  }

  #services-button:hover {
    background-color: #354607;
  }
  
  @media screen and (max-width: 768px) and (max-width: 1024px)  and (max-width: 600)  {
    .text-overlay-services {
      font-size: 18px;
    }
  }




  .our-services {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: white;
  }
  
  .ss1,
  .ss2,
  .ss3 {
    width: 100%; /* Make each section take full width on smaller screens */
    max-width: 400px; /* Set a maximum width for each section */
    margin-bottom: 20px; /* Add space between sections */
  }
  /*team photos*/
  .ss1 img,
  .ss2 img,
  .ss3 img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    border-radius: 9px;
  }
  .ss1 h2{
    margin-top: 30px;
  }
  /*heading-emrat*/
  .ss1 h2,
  .ss2 h2,
  .ss3 h2 {
    margin-left: 0; /* Center the heading on smaller screens */
    text-align: center;
    font-family: monospace;
    color: #354607;
    font-size: 23px;
  }
  /*teksti below*/
  #ss1-txt,
  #ss2-txt,
  #ss3-txt {
    width: 100%; /* Make text take full width on smaller screens */
    text-align: center;
    margin-left: 0; /* Center the text on smaller screens */
    font-family: classico-urw;
    font-weight: 600;
    font-size: 14px;
  }
  
  /* Media Query for screens smaller than 768px */
  @media screen and (max-width: 768px) and (max-width: 1024px)  and (max-width: 600)  {
    .our-services {
      flex-direction: column; /* Stack sections vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
    }
  }

  /*h2*/
  #read-about{
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    font-family: monospace;
    color: #354607;
  }

 .about-button{
  padding: 11px;
  font-family: monospace;
  font-weight: 600;
  background-color: #7f9150;
  color: white;
  font-size: 14px;
  border: none;
  border-radius:8px ;
  margin-left: 730px;
 }
 .about-button:hover{
  background-color: #354607;
 }

/*fotot ,teksti*/
/* Default styles */
.thecouple {
  display: flex;
  justify-content: space-between;
  background-color: #8b9473;
  margin: 19px;
  border-radius: 15px;
  height: 700px;
}

.ceo-container {
  display: flex;
}

.ceo-images {
  padding: 20px;
  display: block;
  height: 190px;
  width: 390px;
  margin: 22px;
  margin-bottom: 13px;
}

.ceo-image {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  margin-left: 30px;
  border-radius: 9px;
  margin-top: 40px;
}

.ceo-text {
  max-width: 610px;
  font-size: 15px;
  font-family: classico-urw;
  font-weight: 600;
  color: #effdc8;
  margin-left: 250px;
  line-height: 2;
  margin-bottom: 30px;
  padding: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .thecouple {
      flex-direction: column;
      height: auto;
  }

  .ceo-container {
      flex-direction: column;
  }

  .ceo-images {
      width: 100%;
      margin: 0;
  }

  .ceo-image {
      margin: 0;
  }

  .ceo-text {
      margin-left: 0;
      max-width: 100%;
  }
}

  /*section mbi footer*/
 /* Default styles for larger screens */
section {
  height: 130px;
}

/* Section small social media icons */
.icons img {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 18px;
  border-radius: 9px;
}

.icons {
  margin-left: 170px;
  display: inline-block;
}

/* Logo in the middle of the icons */
#log {
  width: 200px;
  height: 90px;
  margin-left: 320px;
  margin-top: 20px;
  border-radius: 13px;
}

@media (max-width: 1024px) {
  .icons {
    margin-left: 0;
    text-align: center; 
  }

  #log {
    margin-left: 0; 
  }

  .icons img {
    margin-left: 10px; 
  }
}

@media (max-width: 768px) {
  .icons {
    margin-left: 0; 
    text-align: center;
  }

  #log {
    margin-left: 0; 
  }

  .icons img {
    margin-left: 10px; 
  }
}
      
footer {
  background-color:rgb(27, 52, 27);
  color: #ddd;
  padding: 20px 0; 
  font-family: classico-urw;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}
.section {
  flex-basis: 25%; 
  margin-bottom: 20px;  
}
.kategorite p{
  color: white;
  text-decoration: none;
}
.contact-info p{
  color: white;
}
.section-categories{
  text-align: center;
}
.section-categories a{
  color: white;
}

.footer-copyright img{
  margin-right: 10px;
}
.footer-copyright p{
  margin-left: 30px;
}
#contactus-button{
  padding: 11px;
  font-family: classico-urw;
  font-weight: 600;
  background-color: #646f46;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  width: 100px;
}
#contactus-button:hover{
  background-color: #2a350d;
}